body {
    background-image: url(../images/stack-of-books-vintage-books-book-books.jpg);
}

li {
    display: inline;
    margin: 30px
}

nav {
    padding: 20px;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/qwerty.ttf)
}

@font-face {
    font-family: myheading;
    src: url(../fonts/SaucerBB.ttf)
}

button {
    background: transparent;
    border: 1px solid black;
    width: 100px;
    height: 50px
}

span {
    font-family: myfont;
    font-size: 30px;
}

#logo {
    font-family: myheading;
    font-size: 80px;
    color: black;
}