<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BLOGSHALA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="main-img">
    <div class="container">
        <!--header-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <header>
                    <div class="row">
                        <!--logo-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <span class="logo pull-left">BLOGSHALA</span>
                            <img src="../images/warpdoor_logo_placeholder.png" alt="" class="icon pull-right">
                        </div>
                        <!--navbar-links-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul>
                                <li class="navbar-items">
                                    <a href="aboutus.html" class="nav-link">ABOUT US</a>
                                </li>
                                <li class="navbar-items">
                                    <a href="login.html" class="nav-link">LOGIN</a>
                                </li>
                                <li class="navbar-items">
                                    <a href="register.html" class="nav-link">REGISTER</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <!--main-->
    <div class="main-img">
        <!--<img src="../images/people_live_hands_80419_1920x1080.jpg" alt="" class="bg-img">-->
    </div>
</body>

</html>