<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BLOGSHALA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-offset-md-2">
                <div class="container">
                    <!--header-->
                    <div class="head">
                        <h1><a href="index.html" class="link">BLOGSHALA</a></h1>
                        <a href="index.html">
                            <img src="../images/warpdoor_logo_placeholder.png" alt="" class="myicon">
                        </a>
                    </div>
                    <div class="subhead">
                        <h1>Register</h1>
                    </div>
                    <!--main-->
                    <form class="r_form">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input class="form-control" id="fname" placeholder="Enter First Name">
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input class="form-control" id="lname" placeholder="Enter Last Name">
                        </div>
                        <div class="form-group">
                            <label for="r_usnm">Username</label>
                            <input class="form-control" id="r_usnm" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="r_pswd">Password</label>
                            <input class="form-control" id="r-pswd" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="cpswd">Confirm Password</label>
                            <input class="form-control" id="cpswd" placeholder="Confirm Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Show Password
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success"><span class="btn-font">Register</span></button>
                        <button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-font">Connect with Facebook</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>