<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BLOGSHALA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Css-->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--angular-->
    <script src="../libs/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/model/factory.js"></script>
    <script src="../js/controller/ctrl.js"></script>
</head>

<body ng-app="app" ng-ctrl="ctrl">
    <div class="container">
        <!--header-->
        <div class="row">
            <div class="col-md-8 col-offset-md-2">
                <div class="container">
                    <div class="head">
                        <h1><a href="index.html" class="link">BLOGSHALA</a></h1>
                        <a href="index.html">
                            <img src="../images/warpdoor_logo_placeholder.png" alt="" class="myicon">
                        </a>
                        <div>
                            <img src="../images/desktop.png" alt="">
                            <span>qwerty789</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main-->
        <div class="row">
            <div class="col-md-8 col-offset-md-2">
                <div class="container content">
                    <div class="post">
                        <div class="container bg">
                            <div class="post_by">
                                <table>
                                    <tr>
                                        <td><img src="../json/a.jpeg" alt=""></td>
                                        <td><span>Qwerty Kumar</span>
                                            <br><span>36 mins ago.</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="post_content">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="post_content_head">
                                            An Open Letter to Managers of Women
                                        </div>
                                        <div class="post_content_subhead">
                                            Owen Smith has become the willing dupe of the Labour right
                                        </div>
                                        <div class="post_content_article">
                                            <p>
                                                We need to talk about her. You probably know who. That analyst, designer, writer, engineer who has been at the organization for just a year or two and is already doing the work of someone several levels above her current pay band. Or maybe she’s not even on your radar, because she’s the dependable one who always delivers on-time and under budget, without any drama.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="../json/ab.jpeg" alt="" class="post_img">
                                    </div>
                                </div>
                            </div>
                            <div class="post_data">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>34</span>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <span>17</span>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <div class="container bg">
                            <div class="post_by">
                                <table>
                                    <tr>
                                        <td><img src="../json/a.jpeg" alt=""></td>
                                        <td><span>Qwerty Kumar</span>
                                            <br><span>36 mins ago.</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="post_content">
                                <div class="post_content_head">
                                    An Open Letter to Managers of Women
                                </div>
                                <div class="post_content_subhead">
                                    Owen Smith has become the willing dupe of the Labour right
                                </div>
                                <div class="post_content_article">
                                    <p>
                                        We need to talk about her. You probably know who. That analyst, designer, writer, engineer who has been at the organization for just a year or two and is already doing the work of someone several levels above her current pay band. Or maybe she’s not even on your radar, because she’s the dependable one who always delivers on-time and under budget, without any drama.
                                    </p>
                                </div>
                            </div>
                            <div class="post_data">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>34</span>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="container bg">
                            <div class="post_by">
                                <table>
                                    <tr>
                                        <td><img src="../json/a.jpeg" alt=""></td>
                                        <td><span>Qwerty Kumar</span>
                                            <br><span>36 mins ago.</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="post_content">
                                <div class="post_content_head">
                                    An Open Letter to Managers of Women
                                </div>
                                <div class="post_content_subhead">
                                    Owen Smith has become the willing dupe of the Labour right
                                </div>
                                <div class="post_content_article">
                                    <p>
                                        We need to talk about her. You probably know who. That analyst, designer, writer, engineer who has been at the organization for just a year or two and is already doing the work of someone several levels above her current pay band. Or maybe she’s not even on your radar, because she’s the dependable one who always delivers on-time and under budget, without any drama.
                                    </p>
                                </div>
                            </div>
                            <div class="post_data">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>34</span>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="container bg">
                            <div class="post_by">
                                <table>
                                    <tr>
                                        <td><img src="../json/a.jpeg" alt=""></td>
                                        <td><span>Qwerty Kumar</span>
                                            <br><span>36 mins ago.</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="post_content">
                                <div class="post_content_head">
                                    An Open Letter to Managers of Women
                                </div>
                                <div class="post_content_subhead">
                                    Owen Smith has become the willing dupe of the Labour right
                                </div>
                                <div class="post_content_article">
                                    <p>
                                        We need to talk about her. You probably know who. That analyst, designer, writer, engineer who has been at the organization for just a year or two and is already doing the work of someone several levels above her current pay band. Or maybe she’s not even on your radar, because she’s the dependable one who always delivers on-time and under budget, without any drama.
                                    </p>
                                </div>
                            </div>
                            <div class="post_data">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>34</span>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>